.grid-container-screen {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 50px;
  
}

.grid-screen {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100px;
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-seat {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;
}

.grid-seat {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    width: 100%;
    height: 100px;
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-bottom {
    display: grid;
    grid-template-columns: 3rem auto auto auto auto;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;
}
 
.grid-text1 {
    grid-column: 1;
}

.grid-text2{
    grid-column: 2;
    grid-row: 2;
}

.grid-text3{
    grid-column: 2;
    grid-row: 3;
}

.grid-text4{
    grid-column: 2;
    grid-row: 4;
}

.grid-explain-uncheck-seat{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    grid-row: 2;
}

.grid-explain-checked-seat{
    background-color: rgba(251, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    grid-row: 3;
}

.grid-explain-chose-seat{
    background-color: rgba(255, 204, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    grid-row: 4;
}

.grid-button{
    grid-column: 5;
    grid-row-start: 4;
    
}